logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    de.raywo_trainings: DEBUG

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
